body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    
}



.bannar-heading {
    color: #333;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 50px;
}

.error {
    color: #4F4F4F;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.btn-primary {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    padding: 24px 43px 23px 43px;
    border-radius: 5px;
    background: #333;
    max-width: 216px;
    max-height: 68px;

}

.heading {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
   
}

.head {
    margin: 40px;
    padding: 20px;
}

